[Unit]
Description=Niltalk service.

[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitInterval=360
ExecStart=/path/to/niltalk
WorkingDirectory=/path/to/niltalk/wordkingdir

[Install]
WantedBy=multi-user.target
