[Unit]
Description=Niltalk service.

[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitIntervalSec=360
ExecStart=/path/to/niltalk
User=User
WorkingDirectory=/path/to/niltalk/wordkingdir

[Install]
WantedBy=multi-user.target
